name: .NET Core 1.0.4
# Github Action config to replace the .travis.yml used by the DotLiquid main repo.

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
      - '**/*.markdown'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '**/*.md'
      - '**/*.markdown'
      - '**/*.gitignore'
      - '**/*.gitattributes'

env:
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  # Codecov.io settings
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  # Project name to pack and publish
  PROJECT_NAME: DotLiquid
  VERSION: 2.1.${{ github.run_number }}
  # GitHub Packages Feed settings
  GITHUB_USER: ${{ github.repository_owner }}
  GITHUB_FEED: https://nuget.pkg.github.com/${{ github.repository_owner }}/
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # Official NuGet Feed settings
  #NUGET_FEED: https://api.nuget.org/v3/index.json
  #NUGET_KEY: ${{ secrets.NUGET_KEY }}

jobs:
  build:
    runs-on: ubuntu-16.04 #ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup .NET Core (v1.0.4)
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 1.0.4
    - name: Dotnet info
      run: dotnet --info
    - name: Restore dependencies
      run: dotnet restore src
    - name: Build DotLiquid
      run: dotnet build src/DotLiquid --configuration Release --framework netstandard1.3
      # TODO: merge builds into a multi-line script?
    - name: Build DotLiquid.Tests
      run: dotnet build src/DotLiquid.Tests --configuration Release --framework netcoreapp1.0
    #- name: Build Website
    #  run: dotnet build src/DotLiquid.Website --configuration Release --framework netcoreapp1.1.1
    #- name: Website.Tests
    #  run: dotnet build src/DotLiquid.Website.Tests --configuration Release --framework netcoreapp1.1.1
    #- name: Environment Printer
    #  uses: managedkaos/print-env@v1.0
    - name: Test DotLiquid
      run: dotnet test src/DotLiquid.Tests/DotLiquid.Tests.csproj --framework netcoreapp1.0 --filter "TestCategory!=windows"
    #- name: Test Website
    #  run: src/DotLiquid.Website.Tests/DotLiquid.Website.Tests.csproj --framework netcoreapp1.1.1  --filter "TestCategory!=windows"

#    - name: Create NuGet alpha package
#      #if: matrix.os == 'ubuntu-latest'
#      run: dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion="$VERSION-alpha" src/$PROJECT_NAME/$PROJECT_NAME.csproj
#    - name: Push to GitHub Packages
#      run: |
#        for f in src/$PROJECT_NAME/bin/Release/*.nupkg
#        do
#          curl -vX PUT -u "$GITHUB_USER:$GITHUB_TOKEN" -F package=@$f $GITHUB_FEED
#        done
#    - name: Upload Artifact
#      #if: matrix.os == 'ubuntu-latest'
#      uses: actions/upload-artifact@v2
#      with:
#        name: nupkg
#        path: ./src/${{ env.PROJECT_NAME }}/bin/Release/*.nupkg

  alpha:
    needs: build
    if: github.ref == 'refs/heads/master' ## triggered for any commit to master.
    runs-on: ubuntu-16.04 #ubuntu-latest
    steps:
      - name: Create Alpha NuGet package
        #if: matrix.os == 'ubuntu-latest'
        run: dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion="$VERSION-alpha" src/$PROJECT_NAME/$PROJECT_NAME.csproj
#      - name: Download artifacts
#        uses: actions/download-artifact@v1
#        with:
#          name: nupkg
      - name: Push to GitHub Packages
        run: |
          for f in ./src/${{ env.PROJECT_NAME }}/bin/Release/*.nupkg
          do
            curl -vX PUT -u "$GITHUB_USER:GITHUB_TOKEN" -F package=@$f $GITHUB_FEED
          done

  release:
    needs: build
    if: github.event_name == 'release' ## Only triggered when a github release is created.
    runs-on: ubuntu-16.04 #ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup .NET Core (v1.0.4)
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 1.0.4
    - name: Create Release NuGet package
      run: |
        arrTag=(${GITHUB_REF//\// })
        VERSION="${arrTag[2]}"
        echo Tag Version: $VERSION
        VERSION="${VERSION//v}"
        echo Clean Version: $VERSION
        dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=$VERSION src/$PROJECT_NAME/$PROJECT_NAME.csproj
    - name: Push to GitHub Feed
      run: |
        for f in ./src/${{ env.PROJECT_NAME }}/bin/Release/*.nupkg
        do
          curl -vX PUT -u "$GITHUB_USER:$GITHUB_TOKEN" -F package=@$f $GITHUB_FEED
        done